/* ENABLED BG COLOR */
/* .keyboard-key:hover, .keyboard-mod:hover, .keyboard-func:hover, .keyboard-key.active, .keyboard-mod.active, .keyboard-func.active, .advAvtrProfName:hover, .advAvtrProfSave:hover, .advAvtrProfDelete:hover, .filter-option.active, .filter-option:hover, .content-btn:hover, .toolbar-btn:hover, .toolbar-btn.active, .action-btn:hover, .close-btn:hover, .avatar-toolbar .toolbar-btn:hover, .user-toolbar .toolbar-btn:hover, .content-instance-buttons .instance-btn:hover, .content, .toolbar, #world-detail, #instance-detail, #user-detail, #avatar-detail, #avatar-settings, #keyboard, #numpad, #alert, #alertTimed, #confirm, #loading, #push, .tab-contents{
    background-color: rgba(48, 25, 52, 0.9) !important;
} */

/* DISABLED COLOR */
/* .content-instance-buttons .instance-btn.disabled, .world-instancing .content-btn.disabled:hover, .world-instancing .content-btn.disabled:hover, .avatar-toolbar .toolbar-btn.disabled, .avatar-toolbar .toolbar-btn.disabled:hover, .user-toolbar .toolbar-btn.disabled, .user-toolbar .toolbar-btn.disabled:hover {
    background-color: rgba(125, 114, 138, 0.5) !important;
} */

/* ACCENT COLOR */
/* .noMessagesInfo, .inp_slider_custom, .content, .message-box, #keyboard, .advAvtrProfName, .advAvtrProfSave, .advAvtrProfDelete, .filter-option, .inp_dropdown, .toolbar-btn-double, .toolbar-btn, .toolbar, .content-btn, .action-btn, .content-avatar-functions, .content-panic, .content-debug, .content-shortcuts ,.content-feed, .content-call, .inp_toggle, .imperialDisplay, .inp_btn_action, .inp_button, .inp_slider, .content-cell, .content-world-information, .content-world-actions, .content-world-author, .content-world-author-worlds, .content-world-instances, .content-world-intancing, .world-instance, .close-btn, .content-instance-owner, .content-instance-world, .content-instance-information, .content-instance-buttons, .content-instance-players, .user-sidebar, .user-settings-dialog, .user-toolbar, .tab-contents,#tab-content-activity .player-instance-rules, .activityDataUnavailableInfo, .tab-btn, #tab-content-activity .player-instance-players, .avatar-sidebar, .avatar-maininformation, .avatar-toolbar, .favorite-category-selection {
	border: 3px solid rgba(97, 51, 105, 0.9) !important;
} */

/* .keyboard-key + .keyboard-key, .keyboard-key + .keyboard-mod, .keyboard-key + .keyboard-func, .keyboard-mod + .keyboard-key, .keyboard-mod + .keyboard-mod, .keyboard-mod + .keyboard-func, .keyboard-func + .keyboard-key, .keyboard-func + .keyboard-mod, .keyboard-func + .keyboard-func {
    border-left: 3px solid rgba(97, 51, 105, 0.9) !important;
}

.keyboard-row + .keyboard-row {
    border-top: 3px solid rgba(97, 51, 105, 0.9) !important;
} */

/* SPECIAL COLOR */
/* .inp_slider .valueBar, .inp_toggle.checked{
    background: rgba(48, 25, 52, 0.9)!important;
  } */


  
.friend .content-cell-formatter{
    margin-top: 2em !important;
}

.content-cell.friend{
    width: 18.8% !important;
    margin-right: 1.5% !important;
    margin-bottom: 1.5% !important;
	/* NEW */
	background-color: rgba(150,150,150,0.6) !important;
    border: none !important;
    border-radius: 5px !important;
    /* box-shadow: 5px 5px 10px 5px rgba(181,175,174,0.5); */

}

.content{
    background: top / 2560px 1440px no-repeat url("background.png") !important;
}

.toolbar{
    background: bottom / 2560px 1440px no-repeat url("background.png") !important;
}



.time-display {
    margin-top: 0.35em !important;
    font-size: 2.5em !important;
}



.content-cell.friend:hover {
	background-color: rgba(150,150,150,0.8) !important;
}


.searchBar{
    display: flex;
    margin-bottom: 1em;
}

.inp_search{
    width: 33em;
    height: 4em;
    line-height: 1.7em;
    text-align: center;

    border-radius: 0.25em;
}



.inp_slider .valueLabel{
	color: white !important;
}

.inp_slider_custom {
    width: 100%;
    height: 2em;
    position: relative;
    margin-bottom: 1em;
}
.inp_slider_custom .valueBar {
    position: absolute;
    height: 100%;
	/* background: grey !important; */
    color: white;
}
.inp_slider_custom .valueLabel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /*text-shadow: 0 0 2px #000;*/
    line-height: 1.333333em;
    font-size: 1.5em;
    color: white;
}
.inp_slider_custom.color {
    width: 80%;
}


.friend .content-cell-content{
    left: 6% !important;
}

/* .list-content, .content-instance-buttons .instance-btn + .instance-btn {
    border-left: 3px solid rgba(97, 51, 105, 0.9) !important;
} */

.toolbar-btn + .toolbar-btn {
    border-left: 0px solid #59885d !important;
}

.friend .online-state-test {
	position: absolute !important;
	width: 100% !important;
    height: auto !important;
	bottom: 2em !important;
    top: 0 !important;
	border-radius: 10px !important;
}

.friend .online-state-test.online {
      box-shadow: 0px 0px 20px 10px #00cc00 !important;

}

.friend .online-state-test.offline {
      box-shadow: 0px 0px 20px 10px #cc0000 !important;
}

.friend .online-state-image.offline {
	  filter: grayscale(100%) !important;

}

.friend .content-name{
	left: -6% !important;
	bottom: -6% !important;
	width: 112% !important;
	height: 2em !important;
	/* background-color: rgba(150,150,150,0.8); */
	line-height:2em !important;
}

.content-name.world{
	line-height:1.5em !important;
}

/*
.friend .content-image {
    bottom: 5em !important;
	border-radius: 10px !important;
}
*/

.friend .content-image{
    position: unset !important;
    width: 100% !important;
    height: 100% !important;
    bottom: unset !important;
    top: unset !important;
    border-radius: unset !important;
}

/* WORLD STUFF */
.world .content-image {
    bottom: 7em !important;
	border-radius: 10px !important;
}

.content-cell.world{
    width: 18.8% !important;
    margin-right: 1.5% !important;
    margin-bottom: 1.5% !important;
	/* NEW */
	background-color: rgba(150,150,150,0.6) !important;
    border: none !important;
    border-radius: 5px !important;
    /* box-shadow: 5px 5px 10px 5px rgba(181,175,174,0.5); */
}




/*
.content-cell-new{
	width: 18.8%;
	height: 450px;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
	
	background-color: rgba(150,150,150,0.6);
    border: none;
    border-radius: 5px;
	position: relative;
}
*/

.content-cell-new-bottomtext{
	position:absolute;
	right:0;
	left:0;
	margin:auto;
	bottom:10;
	text-align:center;
	overflow:hidden;
}

.content-image-new{
	width: 100%;
	height: 90%;
	border-radius: 5px;
}

	


.content-cell.world:hover {
	background-color: rgba(150,150,150,0.8) !important;
}

.world .content-cell-content{
    left: 0px !important;
    top: 0px !important;
	bottom: 0px !important;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
}

.world .content-cell-formatter{
    margin-top: 2em !important;
}







.row-wrapper-new{
    width:100%;
    display: inline;
    text-align: left;
}

.option-caption-new{
    /* margin-right: 1em; */
    font-size: 1.5em;
    line-height: 1.333333em;
    width: 40%;
    /* background-color: black; */
}

.option-input-new {
    /* background-color: yellow; */
    width: 60%;
    /* position: relative; */
}



.inp_dropdown_new {
    border: 1px solid #59885d !important;
    width:100% !important;
    height: 2em !important;
    position: relative !important;
    margin-bottom: 1em  !important;
}

.inp_toggle_new {
    height: 2em !important;
    width: 2em !important;
    border: 1px solid #59885d! important;
    margin-bottom: 0.5em !important;
    margin-left: 7em !important;
}